/* ~~~~INCOME VS PAYMENT SWITCH ~~~~*/
.moneySwitch label input[type=checkbox] + .lever { 
  /* Making Payment selected */
  background-color: red; 
}
/* Receiving income selected */
.moneySwitch label input[type=checkbox]:checked + .lever {
  background-color: green;
}
.moneySwitch label input[type=checkbox]:checked + .lever:after {
  background-color: #ffffff;
}

/* animated circle on lever */
.moneySwitch label input[type=checkbox]+.lever:before {
  background-color: #770081;
}
.moneySwitch label input[type=checkbox]:checked+.lever:before {
  background-color: #770081;
}

/* ~~~~EDIT GROUP SWITCH~~~~ */
/* Single Event Selected */
.groupSwitch label input[type=checkbox] + .lever { 
  background-color: blue; 
}
/* Group of Events Selected */
.groupSwitch label input[type=checkbox]:checked + .lever {
  background-color: deeppink;
}
.groupSwitch label input[type=checkbox]:checked + .lever:after {
  background-color: #ffffff;
}

/* animated circle on lever */
.groupSwitch label input[type=checkbox]+.lever:before {
  background-color: #770081;
}
.groupSwitch label input[type=checkbox]:checked+.lever:before {
  background-color: #770081;
}

.modal .modal-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal-footer {
  background-color: #F0F8FF !important
}